#filtrobox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    width: 18vw;
    margin-left:0.5vw;
    height: 50vh;
    padding-top: 10vh;
    padding-bottom: 30vh;
}

.inputfiltro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: inset;
    background-color: rgba(7, 197, 230, 0.911);

}